APP_ENV=local
APP_DEBUG=true
APP_BASE_PATH=

LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_REDIRECT_URI=http://localhost:8080/auth/line/callback

EXMENT_BASE_URL=
EXMENT_CLIENT_ID=
EXMENT_CLIENT_SECRET=
EXMENT_USERNAME=
EXMENT_PASSWORD=
EXMENT_STAMP_RALLY_TABLE=stamp_rally
